{% extends "partials/base.html" %}
{% block title %}Stock List{% endblock title %}
{% block extra_css %}
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        .dropdown-menu {
            max-height: 400px; /* Adjust this value as needed to fit 10 lines */
            overflow-y: auto; /* Enables vertical scrolling */
        }
    </style>
    <script src="{{url_for('static' ,filename='js/app.js')}}"></script>
    <!-- Inline script to call getLanguage() when the document is ready -->

    
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" data-key="t-sectors-indicators">Indicadores Setoriais</h4>

                                <!--
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Crypto</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    
                    <div class="card">
                        <div class="card-body">
                            <!--<p class="text-muted">Use class to generate equal-width elements with all horizontal space will be occupied by nav links.</p>-->
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills nav-justified mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#base-justified-fundamentalist" role="tab" aria-selected="false">
                                        <span data-key="t-fund-title">Indicadores Fundamentalistas</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#base-justified-price" role="tab" aria-selected="false">
                                        <span data-key="t-price-title">Indicadores de Preço</span>
                                    </a>
                                    </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#base-justified-financial-statement" role="tab" aria-selected="false">
                                        <span data-key="t-fin-statement-data-title">Dados de Demonstrações Financeiras</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#base-justified-income-statement" role="tab" aria-selected="true">
                                        <span data-key="t-income-statement-data-title">Dados de Demonstração de Resultados</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content  text-muted">
                                <div class="tab-pane active" id="base-justified-fundamentalist" role="tabpanel">
                                    <h6><span data-key="t-fund-title">Indicadores Fundamentalistas</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-fund-text">Os indicadores fundamentalistas são essenciais na avaliação do valor intrínseco de títulos através da análise fundamentalista, focando em fatores econômicos e financeiros. Essas métricas ajudam a avaliar o valor subjacente de uma empresa e prever seu desempenho. Eles são cruciais para investidores que buscam tomar decisões informadas com base na saúde fundamental e no potencial de crescimento da empresa.</span>
                                    </span>
                                    </p>
                                </div>
                                <div class="tab-pane" id="base-justified-price" role="tabpanel">
                                    <h6><span data-key="t-price-title">Indicadores de Preço</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-price-text">Os indicadores de preço são ferramentas-chave na análise técnica, usados para interpretar tendências de mercado e prever movimentos futuros de preços de títulos. Ao contrário dos indicadores fundamentalistas que focam no valor intrínseco, os indicadores de preço analisam dados históricos de preços e volumes de negociação para identificar padrões e sinais. Esses indicadores ajudam traders e investidores a tomar decisões com base no sentimento do mercado, tendências e possíveis mudanças de preço, orientando suas estratégias na compra ou venda de títulos.</span>
                                    </span>
                                        </p>
                                </div>
                                <div class="tab-pane" id="base-justified-financial-statement" role="tabpanel">
                                    <h6><span data-key="t-fin-statement-data-title">Dados de Demonstrações Financeiras</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-fin-statement-data-text">Os dados das demonstrações financeiras encapsulam as informações financeiras abrangentes de uma empresa, fornecendo insights sobre sua eficiência operacional, saúde financeira e status de fluxo de caixa. Esses dados são derivados de três principais relatórios: o balanço patrimonial, demonstração de resultados e demonstração de fluxo de caixa. Juntos, esses documentos oferecem uma visão detalhada do desempenho financeiro da empresa, gestão de ativos e passivos, e liquidez, crucial para as partes interessadas avaliarem a estabilidade e as perspectivas de crescimento da empresa.</span>
                                    </span>
                                        </p>
                                </div>
                                <div class="tab-pane" id="base-justified-income-statement" role="tabpanel">
                                    <h6><span data-key="t-income-statement-data-title">Dados de Demonstração de Resultados</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-income-statement-data-text">Os dados da demonstração de resultados focam na geração de receita e gestão de despesas de uma empresa durante um período específico, destacando a lucratividade. Detalha receitas, custo das mercadorias vendidas, lucro bruto, despesas operacionais e lucro líquido, oferecendo uma imagem clara do sucesso operacional e viabilidade financeira da empresa. Esses dados são fundamentais para avaliar a capacidade da empresa de gerar lucros a partir de suas atividades comerciais principais.</span>
                                    </span>
                                        </p>
                                </div>
                            </div>
                        </div><!-- end card-body -->
                    </div><!-- end card -->


                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center border-0">
                                <h5 class="card-title mb-0 flex-grow-1"><span data-key="t-sec-sub-seg">Setores Econômicos, Subsetores e Segmentos</span></h5>
                                <div class="flex-shrink-0">
                                    <!--
                                    <div class="flax-shrink-0 hstack gap-2">
                                        <button class="btn btn-primary">Today's Orders</button>
                                        <button class="btn btn-soft-info">Past Orders</button>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="nav nav-pills flex-column nav-pills-tab custom-verti-nav-pills text-center" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link" id="custom-v-pills-home-tab" data-bs-toggle="pill" href="#custom-v-pills-home" role="tab" aria-controls="custom-v-pills-home" aria-selected="false">
                                                    <i class="ri-layout-top-line d-block fs-20 mb-1"></i> <span data-key="t-economic-sector">Setor Econômico</span> 
                                                </a>
                                                <a class="nav-link" id="custom-v-pills-profile-tab" data-bs-toggle="pill" href="#custom-v-pills-profile" role="tab" aria-controls="custom-v-pills-profile" aria-selected="false">
                                                    <i class="ri-layout-5-line d-block fs-20 mb-1"></i> <span data-key="t-subsector">Subsetor </span> 
                                                </a>
                                                <a class="nav-link" id="custom-v-pills-messages-tab" data-bs-toggle="pill" href="#custom-v-pills-messages" role="tab" aria-controls="custom-v-pills-messages" aria-selected="false">
                                                    <i class="ri-table-line d-block fs-20 mb-1"></i> <span data-key="t-segment">Segmento</span> 
                                                </a>
                                            </div>
                                        </div> <!-- end col-->
                                        <div class="col-lg-9">
                                            <div class="tab-content text-muted mt-3 mt-lg-0">
                                                <!--end tab-pane-->
                                                <div class="tab-pane fade" id="custom-v-pills-home" role="tabpanel" aria-labelledby="custom-v-pills-home-tab">
                                                    <div class="d-flex mb-4">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5 class="card-title mb-0" data-key="t-economic-sectors">Setores Econômicos</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered dt-responsive nowrap align-middle table-hover" style="width:100%" id="economic-sector-ind-fund">
                                                                        <thead>
                                                                            <tr>
                                                                                <th data-key="t-ticker">Código</th>
                                                                                <th data-key="t-quick-ratio">Razão Rápida</th>
                                                                                <th data-key="t-current-ratio">Razão Corrente</th>
                                                                                <th data-key="t-debt-to-equity">Dívida sobre Patrimônio</th>
                                                                                <th data-key="t-revenue-per-share">Receita por Ação</th>
                                                                                <th data-key="t-return-on-assets">Retorno sobre Ativos</th>
                                                                                <th data-key="t-return-on-equity">Retorno sobre o Patrimônio</th>
                                                                                <th data-key="t-earnings-growth">Crescimento dos Lucros</th>
                                                                                <th data-key="t-revenue-growth">Crescimento da Receita</th>
                                                                                <th data-key="t-gross-margins">Margens Brutas</th>
                                                                                <th data-key="t-ebitda-margins">Margens EBITDA</th>
                                                                                <th data-key="t-operating-margins">Margens Operacionais</th>
                                                                                <th data-key="t-profit-margins">Margens de Lucro</th>
                                                                                <th data-key="t-beta">Beta</th>
                                                                                <th data-key="t-book-value">Valor Patrimonial</th>
                                                                                <th data-key="t-earnings-quarterly-growth">Crescimento Trimestral dos Lucros</th>
                                                                                <th data-key="t-trailing-eps">EPS Acumulado</th>
                                                                                <th data-key="t-forward-eps">EPS Futuro</th>
                                                                                <th data-key="t-enterprise-to-ebitda">Valor da Empresa para EBITDA</th>
                                                                                <th data-key="t-enterprise-to-ebit">Valor da Empresa para EBIT</th>
                                                                                <th data-key="t-dividend-yield">Divident Yield</th>


                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for data in table_data_econ_sectors_fund %}
                                                                            <tr>
                                                                                <td>{{ data.key }}</td>
                                                                                <td>{{ data.weighted_mean_quickRatio }}</td>
                                                                                <td>{{ data.weighted_mean_currentRatio }}</td>
                                                                                <td>{{ data.weighted_mean_debtToEquity }}</td>
                                                                                <td>{{ data.weighted_mean_revenuePerShare }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnAssets }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnEquity }}</td>
                                                                                <td>{{ data.weighted_mean_earningsGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_revenueGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_grossMargins }}</td>
                                                                                <td>{{ data.weighted_mean_ebitdaMargins }}</td>
                                                                                <td>{{ data.weighted_mean_operatingMargins }}</td>
                                                                                <td>{{ data.weighted_mean_profitMargins }}</td>
                                                                                <td>{{ data.weighted_mean_beta }}</td>
                                                                                <td>{{ data.weighted_mean_bookValue }}</td>
                                                                                <td>{{ data.weighted_mean_earningsQuarterlyGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_trailingEps }}</td>
                                                                                <td>{{ data.weighted_mean_forwardEps }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbitda }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbit }}</td>
                                                                                <td>{{ data.weighted_mean_dividendYield }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div><!--end col-->
                                                    </div>
                                                </div>
                                                <!--end tab-pane-->
                                                <div class="tab-pane fade" id="custom-v-pills-profile" role="tabpanel" aria-labelledby="custom-v-pills-profile-tab">
                                                    <div class="d-flex mb-4">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5 class="card-title mb-0"><span data-key="t-subsectors">Subsetores </span> </h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered dt-responsive nowrap align-middle table-hover" style="width:100%" id="subsector-ind-fund">
                                                                        <thead>
                                                                            <tr>
                                                                                <th data-key="t-ticker">Código</th>
                                                                                <th data-key="t-quick-ratio">Razão Rápida</th>
                                                                                <th data-key="t-current-ratio">Razão Corrente</th>
                                                                                <th data-key="t-debt-to-equity">Dívida sobre Patrimônio</th>
                                                                                <th data-key="t-revenue-per-share">Receita por Ação</th>
                                                                                <th data-key="t-return-on-assets">Retorno sobre Ativos</th>
                                                                                <th data-key="t-return-on-equity">Retorno sobre o Patrimônio</th>
                                                                                <th data-key="t-earnings-growth">Crescimento dos Lucros</th>
                                                                                <th data-key="t-revenue-growth">Crescimento da Receita</th>
                                                                                <th data-key="t-gross-margins">Margens Brutas</th>
                                                                                <th data-key="t-ebitda-margins">Margens EBITDA</th>
                                                                                <th data-key="t-operating-margins">Margens Operacionais</th>
                                                                                <th data-key="t-profit-margins">Margens de Lucro</th>
                                                                                <th data-key="t-beta">Beta</th>
                                                                                <th data-key="t-book-value">Valor Patrimonial</th>
                                                                                <th data-key="t-earnings-quarterly-growth">Crescimento Trimestral dos Lucros</th>
                                                                                <th data-key="t-trailing-eps">EPS Acumulado</th>
                                                                                <th data-key="t-forward-eps">EPS Futuro</th>
                                                                                <th data-key="t-enterprise-to-ebitda">Valor da Empresa para EBITDA</th>
                                                                                <th data-key="t-enterprise-to-ebit">Valor da Empresa para EBIT</th>
                                                                                <th data-key="t-dividend-yield">Divident Yield</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for data in table_data_subsectors_fund %}
                                                                            <tr>
                                                                                <td>{{ data.key }}</td>
                                                                                <td>{{ data.weighted_mean_quickRatio }}</td>
                                                                                <td>{{ data.weighted_mean_currentRatio }}</td>
                                                                                <td>{{ data.weighted_mean_debtToEquity }}</td>
                                                                                <td>{{ data.weighted_mean_revenuePerShare }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnAssets }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnEquity }}</td>
                                                                                <td>{{ data.weighted_mean_earningsGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_revenueGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_grossMargins }}</td>
                                                                                <td>{{ data.weighted_mean_ebitdaMargins }}</td>
                                                                                <td>{{ data.weighted_mean_operatingMargins }}</td>
                                                                                <td>{{ data.weighted_mean_profitMargins }}</td>
                                                                                <td>{{ data.weighted_mean_beta }}</td>
                                                                                <td>{{ data.weighted_mean_bookValue }}</td>
                                                                                <td>{{ data.weighted_mean_earningsQuarterlyGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_trailingEps }}</td>
                                                                                <td>{{ data.weighted_mean_forwardEps }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbitda }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbit }}</td>
                                                                                <td>{{ data.weighted_mean_dividendYield }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div><!--end col-->
                                                    </div>
                                                </div>
                                                <!--end tab-pane-->
                                                <div class="tab-pane fade" id="custom-v-pills-messages" role="tabpanel" aria-labelledby="custom-v-pills-messages-tab">
                                                    <div class="d-flex mb-4">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5 class="card-title mb-0">Segments</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered dt-responsive nowrap align-middle table-hover" style="width:100%" id="segment-ind-fund">
                                                                        <thead>
                                                                            <tr>
                                                                                <th data-key="t-ticker">Código</th>
                                                                                <th data-key="t-quick-ratio">Razão Rápida</th>
                                                                                <th data-key="t-current-ratio">Razão Corrente</th>
                                                                                <th data-key="t-debt-to-equity">Dívida sobre Patrimônio</th>
                                                                                <th data-key="t-revenue-per-share">Receita por Ação</th>
                                                                                <th data-key="t-return-on-assets">Retorno sobre Ativos</th>
                                                                                <th data-key="t-return-on-equity">Retorno sobre o Patrimônio</th>
                                                                                <th data-key="t-earnings-growth">Crescimento dos Lucros</th>
                                                                                <th data-key="t-revenue-growth">Crescimento da Receita</th>
                                                                                <th data-key="t-gross-margins">Margens Brutas</th>
                                                                                <th data-key="t-ebitda-margins">Margens EBITDA</th>
                                                                                <th data-key="t-operating-margins">Margens Operacionais</th>
                                                                                <th data-key="t-profit-margins">Margens de Lucro</th>
                                                                                <th data-key="t-beta">Beta</th>
                                                                                <th data-key="t-book-value">Valor Patrimonial</th>
                                                                                <th data-key="t-earnings-quarterly-growth">Crescimento Trimestral dos Lucros</th>
                                                                                <th data-key="t-trailing-eps">EPS Acumulado</th>
                                                                                <th data-key="t-forward-eps">EPS Futuro</th>
                                                                                <th data-key="t-enterprise-to-ebitda">Valor da Empresa para EBITDA</th>
                                                                                <th data-key="t-enterprise-to-ebit">Valor da Empresa para EBIT</th>
                                                                                <th data-key="t-dividend-yield">Divident Yield</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for data in table_data_segments_fund %}
                                                                            <tr>
                                                                                <td>{{ data.key }}</td>
                                                                                <td>{{ data.weighted_mean_quickRatio }}</td>
                                                                                <td>{{ data.weighted_mean_currentRatio }}</td>
                                                                                <td>{{ data.weighted_mean_debtToEquity }}</td>
                                                                                <td>{{ data.weighted_mean_revenuePerShare }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnAssets }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnEquity }}</td>
                                                                                <td>{{ data.weighted_mean_earningsGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_revenueGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_grossMargins }}</td>
                                                                                <td>{{ data.weighted_mean_ebitdaMargins }}</td>
                                                                                <td>{{ data.weighted_mean_operatingMargins }}</td>
                                                                                <td>{{ data.weighted_mean_profitMargins }}</td>
                                                                                <td>{{ data.weighted_mean_beta }}</td>
                                                                                <td>{{ data.weighted_mean_bookValue }}</td>
                                                                                <td>{{ data.weighted_mean_earningsQuarterlyGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_trailingEps }}</td>
                                                                                <td>{{ data.weighted_mean_forwardEps }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbitda }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbit }}</td>
                                                                                <td>{{ data.weighted_mean_dividendYield }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div><!--end col-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end col-->
                                    </div> <!-- end row-->
                                </div><!-- end card-body -->
                            </div>
                        </div>
                    </div>  


            {% block footer %}
            {% include "partials/footer.html" %}

            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{{url_for('static' ,filename='js/pages/datatables.init.js')}}"></script>
<script src="{{ url_for('static', filename='js/pages/sectors-indicators.init.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock extra_js %}