{% extends "partials/base.html" %}
{% block title %}Stock List{% endblock title %}
{% block extra_css %}
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        .dropdown-menu {
            max-height: 400px; /* Adjust this value as needed to fit 10 lines */
            overflow-y: auto; /* Enables vertical scrolling */
        }
    </style>
    
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Sectorial Indicators</h4>

                                <!--
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Crypto</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="card">
                        <div class="card-body">
                            <!--<p class="text-muted">Use class to generate equal-width elements with all horizontal space will be occupied by nav links.</p>-->
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills nav-justified mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#base-justified-fundamentalist" role="tab" aria-selected="false">
                                        <span data-key="t-fund-title">Fundamentalist Indicators</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#base-justified-price" role="tab" aria-selected="false">
                                        <span data-key="t-price-title"></span>Price Indicators</span>                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#base-justified-financial-statement" role="tab" aria-selected="false">
                                        <span data-key="t-fin-statement-data-title"></span>Financial Statement Data</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#base-justified-income-statement" role="tab" aria-selected="true">
                                        <span data-key="t-income-statement-data-title"></span>Income Statement Data</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content  text-muted">
                                <div class="tab-pane active" id="base-justified-fundamentalist" role="tabpanel">
                                    <h6><span data-key="t-fund-title">Fundamentalist Indicators</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-fund-text">Fundamentalist indicators are essential in assessing the intrinsic value of securities through fundamental analysis, focusing on economic and financial factors. These metrics help gauge a company's underlying value and forecast its performance. They are crucial for investors aiming to make informed decisions based on a company's fundamental health and growth potential.
                                        </span>
                                    </p>
                                </div>
                                <div class="tab-pane" id="base-justified-price" role="tabpanel">
                                    <h6><span data-key="t-price-title"></span>Price Indicators</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-price-text">Price indicators are key tools in technical analysis, used to interpret market trends and predict future price movements of securities. Unlike fundamentalist indicators that focus on intrinsic value, price indicators analyze historical price data and trading volumes to identify patterns and signals. These indicators help traders and investors to make decisions based on market sentiment, trends, and potential price changes, guiding their strategies in buying or selling securities.
                                        </span>
                                        </p>
                                </div>
                                <div class="tab-pane" id="base-justified-financial-statement" role="tabpanel">
                                    <h6><span data-key="t-fin-statement-data-title"></span>Financial Statement Data</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-fin-statement-data-text">Financial statements data encapsulates the comprehensive financial information of a company, providing insights into its operational efficiency, financial health, and cash flow status. This data is derived from three main reports: the balance sheet, income statement, and cash flow statement. Together, these documents offer a detailed view of a company's financial performance, asset and liability management, and liquidity, crucial for stakeholders to assess the company's stability and growth prospects.
                                        </span>
                                        </p>
                                </div>
                                <div class="tab-pane" id="base-justified-income-statement" role="tabpanel">
                                    <h6><span data-key="t-income-statement-data-title"></span>Income Statement Data</span></h6>
                                    <p class="mb-0">
                                        <span data-key="t-income-statement-data-text">Income statement data focuses on a company's revenue generation and expense management over a specific period, highlighting profitability. It details revenues, costs of goods sold, gross profit, operating expenses, and net income, offering a clear picture of the company's operational success and financial viability. This data is pivotal for evaluating a company's ability to generate profits from its core business activities.
                                        </span>
                                        </p>
                                </div>
                            </div>
                        </div><!-- end card-body -->
                    </div><!-- end card -->


                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center border-0">
                                <h5 class="card-title mb-0 flex-grow-1">Economic Sectors, Subsectors, and Segments</h5>
                                <div class="flex-shrink-0">
                                    <!--
                                    <div class="flax-shrink-0 hstack gap-2">
                                        <button class="btn btn-primary">Today's Orders</button>
                                        <button class="btn btn-soft-info">Past Orders</button>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="nav nav-pills flex-column nav-pills-tab custom-verti-nav-pills text-center" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link" id="custom-v-pills-home-tab" data-bs-toggle="pill" href="#custom-v-pills-home" role="tab" aria-controls="custom-v-pills-home" aria-selected="false">
                                                    <i class="ri-layout-top-line d-block fs-20 mb-1"></i> Economic Sector
                                                </a>
                                                <a class="nav-link" id="custom-v-pills-profile-tab" data-bs-toggle="pill" href="#custom-v-pills-profile" role="tab" aria-controls="custom-v-pills-profile" aria-selected="false">
                                                    <i class="ri-layout-5-line d-block fs-20 mb-1"></i> Subsector
                                                </a>
                                                <a class="nav-link" id="custom-v-pills-messages-tab" data-bs-toggle="pill" href="#custom-v-pills-messages" role="tab" aria-controls="custom-v-pills-messages" aria-selected="false">
                                                    <i class="ri-table-line d-block fs-20 mb-1"></i> Segments
                                                </a>
                                            </div>
                                        </div> <!-- end col-->
                                        <div class="col-lg-9">
                                            <div class="tab-content text-muted mt-3 mt-lg-0">
                                                <!--end tab-pane-->
                                                <div class="tab-pane fade" id="custom-v-pills-home" role="tabpanel" aria-labelledby="custom-v-pills-home-tab">
                                                    <div class="d-flex mb-4">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5 class="card-title mb-0">Economic Sector</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered dt-responsive nowrap align-middle table-hover" style="width:100%" id="economic-sector-ind-fund">
                                                                        <thead>
                                                                            <tr>
                                                                                <th data-key="t-ticker">Ticker</th>
                                                                                <th data-key="t-quick-ratio">Quick Ratio</th>
                                                                                <th data-key="t-current-ratio">Current Ratio</th>
                                                                                <th data-key="t-debt-to-equity">Debt to Equity</th>
                                                                                <th data-key="t-revenue-per-share">Revenue Per Share</th>
                                                                                <th data-key="t-return-on-assets">Return on Assets</th>
                                                                                <th data-key="t-return-on-equity">Return on Equity</th>
                                                                                <th data-key="t-earnings-growth">Earnings Growth</th>
                                                                                <th data-key="t-revenue-growth">Revenue Growth</th>
                                                                                <th data-key="t-gross-margins">Gross Margins</th>
                                                                                <th data-key="t-ebitda-margins">EBITDA Margins</th>
                                                                                <th data-key="t-operating-margins">Operating Margins</th>
                                                                                <th data-key="t-profit-margins">Profit Margins</th>
                                                                                <th data-key="t-beta">Beta</th>
                                                                                <th data-key="t-book-value">Book Value</th>
                                                                                <th data-key="t-earnings-quarterly-growth">Earnings Quarterly Growth</th>
                                                                                <th data-key="t-trailing-eps">Trailing EPS</th>
                                                                                <th data-key="t-forward-eps">Forward EPS</th>
                                                                                <th data-key="t-enterprise-to-ebitda">Enterprise to EBITDA</th>
                                                                                <th data-key="t-enterprise-to-ebit">Enterprise to EBIT</th>
                                                                                <th data-key="t-dividend-yield">Dividend Yield</th>


                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for data in table_data_econ_sectors_fund %}
                                                                            <tr>
                                                                                <td>{{ data.key }}</td>
                                                                                <td>{{ data.weighted_mean_quickRatio }}</td>
                                                                                <td>{{ data.weighted_mean_currentRatio }}</td>
                                                                                <td>{{ data.weighted_mean_debtToEquity }}</td>
                                                                                <td>{{ data.weighted_mean_revenuePerShare }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnAssets }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnEquity }}</td>
                                                                                <td>{{ data.weighted_mean_earningsGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_revenueGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_grossMargins }}</td>
                                                                                <td>{{ data.weighted_mean_ebitdaMargins }}</td>
                                                                                <td>{{ data.weighted_mean_operatingMargins }}</td>
                                                                                <td>{{ data.weighted_mean_profitMargins }}</td>
                                                                                <td>{{ data.weighted_mean_beta }}</td>
                                                                                <td>{{ data.weighted_mean_bookValue }}</td>
                                                                                <td>{{ data.weighted_mean_earningsQuarterlyGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_trailingEps }}</td>
                                                                                <td>{{ data.weighted_mean_forwardEps }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbitda }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbit }}</td>
                                                                                <td>{{ data.weighted_mean_dividendYield }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div><!--end col-->
                                                    </div>
                                                </div>
                                                <!--end tab-pane-->
                                                <div class="tab-pane fade" id="custom-v-pills-profile" role="tabpanel" aria-labelledby="custom-v-pills-profile-tab">
                                                    <div class="d-flex mb-4">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5 class="card-title mb-0">Subsectors</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered dt-responsive nowrap align-middle table-hover" style="width:100%" id="subsector-ind-fund">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Ticker</th>
                                                                                <th>Quick Ratio</th>
                                                                                <th>Current Ratio</th>
                                                                                <th>Debt to Equity</th>
                                                                                <th>Revenue Per Share</th>
                                                                                <th>Return on Assets</th>
                                                                                <th>Return on Equity</th>
                                                                                <th>Earnings Growth</th>
                                                                                <th>Revenue Growth</th>
                                                                                <th>Gross Margins</th>
                                                                                <th>EBITDA Margins</th>
                                                                                <th>Operating Margins</th>
                                                                                <th>Profit Margins</th>
                                                                                <th>Beta</th>
                                                                                <th>Book Value</th>
                                                                                <th>Earnings Quarterly Growth</th>
                                                                                <th>Trailing EPS</th>
                                                                                <th>Forward EPS</th>
                                                                                <th>Enterprise to EBITDA</th>
                                                                                <th>Enterprise to EBIT</th>
                                                                                <th>Dividend Yield</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for data in table_data_subsectors_fund %}
                                                                            <tr>
                                                                                <td>{{ data.key }}</td>
                                                                                <td>{{ data.weighted_mean_quickRatio }}</td>
                                                                                <td>{{ data.weighted_mean_currentRatio }}</td>
                                                                                <td>{{ data.weighted_mean_debtToEquity }}</td>
                                                                                <td>{{ data.weighted_mean_revenuePerShare }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnAssets }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnEquity }}</td>
                                                                                <td>{{ data.weighted_mean_earningsGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_revenueGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_grossMargins }}</td>
                                                                                <td>{{ data.weighted_mean_ebitdaMargins }}</td>
                                                                                <td>{{ data.weighted_mean_operatingMargins }}</td>
                                                                                <td>{{ data.weighted_mean_profitMargins }}</td>
                                                                                <td>{{ data.weighted_mean_beta }}</td>
                                                                                <td>{{ data.weighted_mean_bookValue }}</td>
                                                                                <td>{{ data.weighted_mean_earningsQuarterlyGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_trailingEps }}</td>
                                                                                <td>{{ data.weighted_mean_forwardEps }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbitda }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbit }}</td>
                                                                                <td>{{ data.weighted_mean_dividendYield }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div><!--end col-->
                                                    </div>
                                                </div>
                                                <!--end tab-pane-->
                                                <div class="tab-pane fade" id="custom-v-pills-messages" role="tabpanel" aria-labelledby="custom-v-pills-messages-tab">
                                                    <div class="d-flex mb-4">
                                                        <div class="col-lg-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5 class="card-title mb-0">Segments</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered dt-responsive nowrap align-middle table-hover" style="width:100%" id="segment-ind-fund">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Ticker</th>
                                                                                <th>Quick Ratio</th>
                                                                                <th>Current Ratio</th>
                                                                                <th>Debt to Equity</th>
                                                                                <th>Revenue Per Share</th>
                                                                                <th>Return on Assets</th>
                                                                                <th>Return on Equity</th>
                                                                                <th>Earnings Growth</th>
                                                                                <th>Revenue Growth</th>
                                                                                <th>Gross Margins</th>
                                                                                <th>EBITDA Margins</th>
                                                                                <th>Operating Margins</th>
                                                                                <th>Profit Margins</th>
                                                                                <th>Beta</th>
                                                                                <th>Book Value</th>
                                                                                <th>Earnings Quarterly Growth</th>
                                                                                <th>Trailing EPS</th>
                                                                                <th>Forward EPS</th>
                                                                                <th>Enterprise to EBITDA</th>
                                                                                <th>Enterprise to EBIT</th>
                                                                                <th>Dividend Yield</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for data in table_data_segments_fund %}
                                                                            <tr>
                                                                                <td>{{ data.key }}</td>
                                                                                <td>{{ data.weighted_mean_quickRatio }}</td>
                                                                                <td>{{ data.weighted_mean_currentRatio }}</td>
                                                                                <td>{{ data.weighted_mean_debtToEquity }}</td>
                                                                                <td>{{ data.weighted_mean_revenuePerShare }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnAssets }}</td>
                                                                                <td>{{ data.weighted_mean_returnOnEquity }}</td>
                                                                                <td>{{ data.weighted_mean_earningsGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_revenueGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_grossMargins }}</td>
                                                                                <td>{{ data.weighted_mean_ebitdaMargins }}</td>
                                                                                <td>{{ data.weighted_mean_operatingMargins }}</td>
                                                                                <td>{{ data.weighted_mean_profitMargins }}</td>
                                                                                <td>{{ data.weighted_mean_beta }}</td>
                                                                                <td>{{ data.weighted_mean_bookValue }}</td>
                                                                                <td>{{ data.weighted_mean_earningsQuarterlyGrowth }}</td>
                                                                                <td>{{ data.weighted_mean_trailingEps }}</td>
                                                                                <td>{{ data.weighted_mean_forwardEps }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbitda }}</td>
                                                                                <td>{{ data.weighted_mean_enterpriseToEbit }}</td>
                                                                                <td>{{ data.weighted_mean_dividendYield }}</td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                
                                                            </div>
                                                        </div><!--end col-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end col-->
                                    </div> <!-- end row-->
                                </div><!-- end card-body -->
                            </div>
                        </div>
                    </div>  


            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->
{% endblock content %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!--datatable js-->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="{{url_for('static' ,filename='js/pages/datatables.init.js')}}"></script>
<script src="{{ url_for('static', filename='js/pages/sectors-indicators.init.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock extra_js %}