{% extends "pages/account/base_account.html" %}

{% block title %}Inscrever-se - Vorsen Invest{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary"><span data-key="t-create-new-account">Criar Nova Conta</span></h5>
                    <p class="text-muted"><span data-key="t-get-free-account">Obtenha sua conta gratuita na Vorsen Invest agora</span></p>
                </div>
                <div class="p-2 mt-4">
                    
                   
                    <form class="needs-validation" novalidate action="/account/signup" method="POST">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                         <div class="alert alert-danger flashes mb-4 text-center" role="alert">
                            <strong>{{ message }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="mb-3">
                            <label for="useremail" class="form-label"><span data-key="t-email">Email <span class="text-danger">*</span></span></label>
                            <input type="email" class="form-control" name="email" id="useremail" placeholder="Enter email address" required>
                            <div class="invalid-feedback">
                                <span data-key="t-please-enter-email">Por favor, insira o email</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label"><span data-key="t-username">Nome de Usuário <span class="text-danger">*</span></span></label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
                            <div class="invalid-feedback">
                                <span data-key="t-please-enter-username">Por favor, insira o nome de usuário</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password-input"><span data-key="t-password">Senha</span></label>
                            <div class="position-relative auth-pass-inputgroup">
                                <input type="password" class="form-control password-input pe-5" name="password" onpaste="return false" placeholder="Enter password" id="password-input" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                <div class="invalid-feedback">
                                    <span data-key="t-enter-password">Por favor, insira a senha</span>
                                    </div>
                            </div>
                        </div>
                        
                        
                        <div class="mb-4">
                            <p class="mb-0 fs-12 text-muted fst-italic"><span data-key="t-register-agreement">Ao se registrar, você concorda com os <a href="#" class="text-primary text-decoration-underline fst-normal fw-medium" data-key="t-terms-of-use">Termos de Uso</a> <span data-key="t-of-vorsen-invest">da Vorsen Invest</span></span></p>
                        </div>

                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                            <h5 class="fs-13"><span data-key="t-password-must-contain">A senha deve conter:</span></h5>
                            <p id="pass-length" class="invalid fs-12 mb-2"><span data-key="t-min-characters">Mínimo <b>8 caracteres</b></span></p>
                            <p id="pass-lower" class="invalid fs-12 mb-2"><span data-key="t-lowercase-letter">Pelo menos <b>uma letra minúscula</b> (a-z)</span></p>
                            <p id="pass-upper" class="invalid fs-12 mb-2"><span data-key="t-uppercase-letter">Pelo menos <b>uma letra maiúscula</b> (A-Z)</span></p>
                            <p id="pass-number" class="invalid fs-12 mb-0"><span data-key="t-number">Pelo menos <b>um número</b> (0-9)</span></p>
                        </div>

                        <div class="mt-4">
                            <button class="btn btn-success w-100" type="submit"><span data-key="t-sign-up">Inscrever-se</span></button>
                        </div>

                        <div class="mt-4 text-center">
                            <div class="signin-other-title">
                                <h5 class="fs-13 mb-4 title text-muted"><span data-key="t-create-account-with">Criar conta com</span></h5>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary btn-icon waves-effect waves-light"><i class="ri-facebook-fill fs-16"></i></button>
                                <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-google-fill fs-16"></i></button>
                                <button type="button" class="btn btn-dark btn-icon waves-effect waves-light"><i class="ri-github-fill fs-16"></i></button>
                                <button type="button" class="btn btn-info btn-icon waves-effect waves-light"><i class="ri-twitter-fill fs-16"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0"><span data-key="t-already-have-account">Já tem uma conta?</span> <a href="/account/login" class="fw-semibold text-primary text-decoration-underline"><span data-key="t-signin"> Entrar </span></a> </p>
        </div>

    </div>
</div>
<!-- end row -->

{% endblock %}